header{
    background-color: rgb(135, 250, 160);
}
body{
    background-color: rgb(37, 37, 37);
}
.navbar{
    background-color: black;
}
main{
    text-align: center;
    color: whitesmoke;
}
.rowlenguajes img{
    transition: transform 1s ease-in-out;
}

.rowlenguajes img:hover{
    transform: scale(1.3);
}
footer{
    color: white;
}